<%- partial('_partial/archive', {pagination: 2, index: true}) %>

<!--
<div>
    &lt;!&ndash;添加背景音乐，如果添加在layout頁面每頁都有，现在设置为首页有背景音乐&ndash;&gt;
    <audio autoplay="autoplay" loop="loop">
        <source src="/blog/audio/夜空中最亮的星.mp3" type="audio/mpeg">
    </audio>
</div>-->
