<% if (/*config.disqus_shortname && */page.comments) { %>
<div id="disqus_thread"></div>

<div class="clearfix" style="margin-top: 40px;">
</div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<!-- UY END -->

<!--PC版-->
<div id="SOHUCS" sid="12345678"></div>
<script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cyvlGm1zt',
        conf: 'prod_ed7bcebba567a04ee0d7b6bd13d280f8'
    });

    $(function () {
        function hash(text) {
            'use strict';
            var hash = 5381,
                index = text.length;
            while (index) {
                hash = (hash * 33) ^ text.charCodeAt(--index);
            }
            return hash >>> 0;
        }

        $('#SOHUCS').attr({
            "sid": hash(window.location.pathname)
        });
    });
</script>


<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    <!--添加友言评论系统，注释以下代码-->
    //  var disqus_config = function () {
    //      this.page.url = '<%- post.permalink %>';
    //      this.page.identifier = '<%- post.path %>';
    //  };
    //  (function () { // DON'T EDIT BELOW THIS LINE
    //      var d = document, disqus_shortname = '<%= config.disqus_shortname %>', s = d.createElement('script');
    //      s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    //      s.setAttribute('data-timestamp', +new Date());
    //      (d.head || d.body).appendChild(s);
    //  })();
</script>

<!--添加友言评论系统，注释以下代码-->
<!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<% } %>